/* este es el hover de las fotos de gustos */
.hovereffect {
  width: 100%;
  height: 300px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 	0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  	-webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  	-webkit-transform: translateY(45px);
  	-ms-transform: translateY(45px);
  transform: translateY(45px);
  	-webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover h2 {
  	-webkit-transform: translateY(5px);
  	-ms-transform: translateY(5px);
  transform: translateY(5px);
}

.p {
	font-size: 20px;
	color: #fff;
	margin-top: 50px;
}
 	/* hasta aquí termina el hover de fotos */