
.body1 {
	background: url("../img-porta/pluma.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  width: 100%;
  height: 0;
  background-position: center;
  background-attachment: fixed;
}

/* este es el efecto para que se mueva el fondo 
#info {
  margin: 0px auto 0px auto;
  position: relative;
      cursor: -webkit-grab;
}
*/

  /* este es el marco que encierra al texto */
.cuadro-blanco {
  height: 580px;
  width: 850px;
  border: solid #fff 30px;
  background-color: transparent;
  margin-top: 50px;
  margin-left: 220px;
  margin-bottom: 0px;
}

.hola {
  font-family: 'Comfortaa', cursive;
  color: #fff;
  font-size: 10em;
  margin-top: 0px;
  display: block;
  text-align: center;

}
 /* son los subtitulos e gris y distancia */
.subti {
  font-family: 'Comfortaa', cursive;
  color: #e3e3e3;
  text-align: center;
}

.top1 { /*este es el margen del primer renglon de texto "SOY" */
  margin-top: -180px;
  
}
 
.top2 {       /*este es el margen de los siguientes renglones, si los pongo
  iagula al primero, se junta todo el texto */
  margin-top: -80px;
  padding-bottom: 0;
}

/* el span diferencia mi nombre y pRofesión en color rosa*/
span {
  font-family: 'Pacifico', cursive;
  color: #00695c;
}

/* este es el tamaño de la fuente que tendra el contenido, menos el titulo HOLA*/
.tit {
  font-size: 3.6em;
}

a {
  text-decoration: none;
}

/* cambié el aspecto del botón que me llevará al portafolio */
.btn_rosa {
  margin-left: 1240px;
  margin-top: -30px;
  margin-bottom: 0px;
}


/* MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col l12"] {
        width: 100%;
    }

    .body1 {
      max-width: 100%;
      height: 100%;
    }

    .cuadro-blanco {
      width: 100%;
      height: 100%;
      border: solid #fff 20px;
      margin-left:0px;
    }
    
    .hola {
      font-size: 6em;
    }
  
    .top1 {
      margin-top: -100px;
    }
    .top2 {
      margin-top: -50px;
    }
    
    .tit {
      font-size: 2.5em;
    }
    
    .btn-floating {
      position: absolute !important;
      margin-left: 180px !important;
    
    }



}