body {
	background: url("../img-porta/pluma.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
  width: 100%;
  height: 0;
}

.cuadro-blanco {
  height: 500px;
  width: 850px;
  border: solid #fff 40px;
  background-color: transparent;
  position: absolute;
  margin-left: 200px;
  margin-top: 50px;
}

.hola {
  font-family: 'Comfortaa', cursive;
  color: #fff;
  font-size: 10em;
  margin-top: 0px;
  display: block;
  text-align: center;
}

.subti {
 font-family: 'Comfortaa', cursive;
  font-size: 2em;
  color: #e3e3e3;
  text-align: center;
}

.subti2 {
  position: relative;
  top: -180px;
}

span {
  font-family: 'Pacifico', cursive;
  color: #ff00ce;
  font-size: 1.5em;
}

.mar-top0 {
  margin-top: -200px;
}

a {
  text-decoration: none;
}

div a p:hover {
  text-decoration: none;
  color: #8f00c1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
